@import "../../../style/var";
@import "../../../style/func";

@com-prefix: ~"@{hs-prefix}-notice-bar";

.@{com-prefix} {
  .hs-base();
  height: 2 * @hs-font-size;
  position: relative;

  .@{com-prefix}-mask {
    width: 100%;
    height: 100%;
    opacity: 0.2;

    &_primary {
      background-color: @hs-primary-color;
    }

    &_success {
      background-color: @hs-success-color;
    }

    &_danger {
      background-color: @hs-danger-color;
    }

    &_warning {
      background-color: @hs-warning-color;
    }

    &_info {
      background-color: @hs-info-color;
    }

    &_default {
      background-color: @hs-default-color;
    }
  }

  .@{com-prefix}-body {
    height: 100%;
    line-height: 2 * @hs-font-size;
    position: absolute;
    box-sizing: border-box;
    padding: 0 @hs-padding;
    top: 50%;
    transform: translateY(-50%);

    &_primary {
      color: @hs-primary-color;
    }

    &_success {
      color: @hs-success-color;
    }

    &_danger {
      color: @hs-danger-color;
    }

    &_warning {
      color: @hs-warning-color;
    }

    &_info {
      color: @hs-info-color;
    }

    &_default {
      color: @hs-default-color;
    }
  }
}
