@import "hs-style/var";
@import "hs-style/func";

@com-prefix: ~"@{hs-prefix}-checkbox";
.@{com-prefix} {
  .hs-base();
  display: inline-flex;
  align-items: center;

  .@{com-prefix}-icon {
    .transition_property("opacity");
  }
}
