@import "../../../style/var";

@com-prefix: ~"@{prefix}-button";

.@{com-prefix} {
  margin: 0;
  border-radius: @border-radius-1;
  font-family: @font-family;
  text-align: center;
  outline: none;
  white-space: nowrap;
  display: inline-block;
  box-shadow: @base-shadow;
  font-weight: @font-weight-normal;
  transition: @transition-time all linear;
  overflow: hidden;

  .button-size(@fs,@padding) {
    font-size: @fs;
    padding: 1 * @padding 2 * @padding;
  }

  &-mini {
    .button-size(0.8*@font-size, 0.8*@padding);
  }

  &-normal {
    .button-size(@font-size, @padding);
  }

  &-large {
    .button-size(1.2*@font-size, 1.2*@padding);
  }

  .button-color(@bg,@color,@border-color) {
    background-color: @bg;
    color: @color;
    border: 1px solid @border-color;
  }

  &-primary {
    &-normal {
      .button-color(@primary-color, @base-white, @primary-color);
    }

    &-plain {
      .button-color(@base-white, @primary-color, @primary-color);
    }
  }

  &-success {
    &-normal {
      .button-color(@success-color, @base-white, @success-color);
    }

    &-plain {
      .button-color(@base-white, @success-color, @success-color);
    }
  }

  &-danger {
    &-normal {
      .button-color(@danger-color, @base-white, @danger-color);
    }

    &-plain {
      .button-color(@base-white, @danger-color, @danger-color);
    }
  }

  &-info {
    &-normal {
      .button-color(@info-color, @base-white, @info-color);
    }

    &-plain {
      .button-color(@base-white, @info-color, @info-color);
    }
  }

  &-warning {
    &-normal {
      .button-color(@warning-color, @base-white, @warning-color);
    }

    &-plain {
      .button-color(@base-white, @warning-color, @warning-color);
    }
  }

  &-default {
    &-normal {
      .button-color(@base-white, @base-black, @default-color);
    }

    &-plain {
      .button-color(@base-white, @base-black, @default-color);
    }

    &:active {
      border-color: @primary-color;
    }
  }

  &:disabled {
    opacity: @disabled-opacity;
    cursor: wait;
  }

  &:active {
    opacity: 0.8;
    box-shadow: none;
    transform: scale(1.15);
  }

  @keyframes ripple-small {
    to {
      transform: scale(500);
      opacity: 0;
    }
  }
  @keyframes ripple-big {
    to {
      transform: scale(1000);
      opacity: 0;
    }
  }

  &-inline {
    .@{com-prefix}-ripple {
      animation: ripple-small @transition-time cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-block {
    width: 100%;

    .@{com-prefix}-ripple {
      animation: ripple-big @transition-time cubic-bezier(0.4, 0, 0.2, 1);
    }
  }

  &-round {
    border-radius: @border-radius-3;
  }

  &-ripple-container {
    position: relative;

    .@{com-prefix}-ripple {
      position: absolute;
      width: 1px;
      height: 1px;
      border-radius: 0.5px;
      opacity: 0.1;
      background-color: @base-black;
    }
  }
}
