@import "../../../style/var";
@import "../../../style/func";

@com-prefix: ~"@{hs-prefix}-popup";

.@{com-prefix} {
  .hs-base();
  width: 100%;
  height: 0;
  opacity: 0;
  top: 0;
  left: 0;
  overflow: hidden;
  position: fixed;

  .@{com-prefix}-mask {
    width: 100%;
    height: 100%;
    background: @hs-base-black;
    opacity: 0.7;
  }

  .@{com-prefix}-body {
    background: @hs-base-white;
    padding: @hs-padding;
    box-sizing: border-box;
    position: absolute;
    transition: all @hs-transition-time-popup linear;

    .@{com-prefix}-body-title {
      text-align: right;
      padding: @hs-border-radius-2;

      .@{com-prefix}-close-btn {
        font-size: 1.4 * @hs-font-size;
        font-weight: bold;
        transform: rotateZ(225deg);
        display: inline-block;
      }
    }

    .@{com-prefix}-body-content {
      height: calc(100% - 1.4 * @hs-font-size - @hs-border-radius-2*2);
      overflow: auto;
    }

    &-safearea {
      padding-bottom: 8%;
    }
  }
}
