@import "../../../../../style/func";
@import "../../../../../style/var";

@com-prefix: ~"@{hs-prefix}-toast-icon";

.@{com-prefix} {
  color: @hs-base-white;

  .@{com-prefix}-loading {
    width: 1 * @hs-font-size;
    height: 2.5 * @hs-font-size;
    border-right: @hs-border-radius-2 solid @hs-base-white;
    border-bottom: @hs-border-radius-2 solid @hs-base-white;
    display: inline-block;
    transform: rotateZ(45deg);
  }

  .@{com-prefix}-success {
  }

  .@{com-prefix}-error {
  }

  .@{com-prefix}-info {
  }
}
