@import "../../../../../style/func";
@import "../../../../../style/var";

@com-prefix: ~"@{hs-prefix}-toast-icon";

.@{com-prefix} {
  color: @hs-base-white;

  .@{com-prefix}-loading {
  }

  .@{com-prefix}-success {
    width: 1 * @hs-font-size;
    height: 2.5 * @hs-font-size;
    border-right: @hs-border-radius-2 solid @hs-base-white;
    border-bottom: @hs-border-radius-2 solid @hs-base-white;
    display: inline-block;
    transform: rotateZ(45deg);
  }

  .@{com-prefix}-error {
    position: relative;
    height: 2.5 * @hs-font-size;

    .@{com-prefix}-error-item {
      width: @hs-border-radius-2;
      height: 2.5 * @hs-font-size;
      position: absolute;
    }

    .@{com-prefix}-error-itemone {
      left: 50%;
      top: 50%;
      transform: translate(-50%, -50%);
      background-color: @hs-base-white;
    }

    .@{com-prefix}-error-itemtwo {
      left: 50%;
      top: 50%;
      transform: rotateZ(45deg);
      background-color: @hs-base-white;
    }
  }
}
