@import "var";

.hs-popup-css-enter {
  opacity: 0;
  display: block;
}

.hs-popup-css-enter-active {
  opacity: 1;
  display: block;
  transition: all @hs-transition-time-popup linear;
}

// 退出开始
.hs-popup-css-exit {
  opacity: 1;
  display: block;
}

// 退出中
.hs-popup-css-exit-active {
  opacity: 0;
  transition: all @hs-transition-time-popup linear;
}

// 退出结束
.hs-popup-css-exit-done {
  opacity: 0;
  display: none;
}
