// 所有样式的前缀
// all css class prefix
@hs-prefix: hs;

// 主要颜色（all-color）

// 主颜色
@hs-primary-color: #409eff;
@hs-success-color: #67c23a;
@hs-warning-color: #e6a23c;
@hs-danger-color: #f56c6c;
@hs-info-color: #909399;
@hs-default-color: #dcdfe6;

// 字体（font）
@hs-font-family: "Helvetica Neue", Helvetica, "PingFang SC", "Hiragino Sans GB",
  "Microsoft YaHei", "微软雅黑", Arial, sans-serif;
@hs-font-weight-normal: 500;
@hs-font-weight-bold: bold;
@hs-font-size: 14px;
@hs-top-font-size: 1.2 * @hs-font-size;
@hs-sub-font-size: 0.8 * @hs-font-size;
@hs-primary-txt-color: #303133;
@hs-normal-txt-color: #606266;
@hs-sub-txt-color: #909399;
@hs-placeholder-txt-color: #c0c4cc;

// 边框（border）
@hs-first-border-color: #dcdfe6;
@hs-second-border-color: #e4e7ed;
@hs-third-border-color: #ebeef5;
@hs-fourth-border-color: #f2f6fc;

// 基础色（base-color
@hs-base-black: #000000;
@hs-base-white: #ffffff;
@hs-transparent: transparent;

// 圆角
@hs-border-radius-1: 2px;
@hs-border-radius-2: 4px;
@hs-border-radius-3: 2 * @hs-font-size;

// 阴影
@hs-base-shadow: 0 2px 4px rgba(0, 0, 0, 0.12), 0 0 6px rgba(0, 0, 0, 0.04);
@hs-light-shadow: 0 2px 12px 0 rgba(0, 0, 0, 0.1);

// 内距
@hs-padding: 8px;

// 外边距
@hs-margin: 8px;

// 过渡时间
@hs-transition-time: 1000ms;
@hs-transition-time-popup: 200ms;

// 禁用透明度
@hs-disabled-opacity: 0.4;
